body {
  font-family: Arial, sans-serif;
  background: #f4fff4;
  color: #0a3;
  text-align: center;
}

.center {
  margin-top: 100px;
}

input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #0a3;
}

button {
  background: #0a3;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #087;
}

.catalogo {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item {
  background: white;
  border: 1px solid #0a3;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
}

.item img {
  width: 100px;
}
